<header id="header">
    {{!-- titulo y nombre se envían desde app.js --}}
    <div class="logo"><a href="/">{{ titulo }} <span>{{ nombre }}</span></a></div>
    <a href="#menu"><span>Menu</span></a>
</header>